/* All Styling Classes should be written in this file */

.primary {
    color: #F63854;
}

.primary-background {
    background-color: #F63854;
}
.introhover:hover{
    color: #F63854;
    transform: translateY(2px);
}
.hoverbtn:hover{
    transform: translateY(3px);
}
.btn2{
    border:solid;
    border-width: 1px;
    border-color:#F63854 ;
    border-radius: 9999px;
}
.btn2:hover
{
    border-color: white;
    background-color: #F63854;
    color: white;
    transform: translateY(2px);
}
.flexhover:hover{
    transform: translateY(-16px);
    border-width: 2px;
}
.slider{
    display: none;
}
@media screen and (min-width:640px)
{
    .map
    {
        width: 450px ;
    }
}
.content {
    padding: 16px;
  }
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
     }
  .sticky + .content {
    padding-top: 40px;
  }
  .circle-icon {
    background:#F63854 ;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    padding: 30px;
}
 
 